@import "~bootstrap/scss/bootstrap";
$default-background: #fff;



.containerApp {
  display: grid;
  width: 100%;

  .App {

    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #11273c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #ffffff;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  body {
    width: -webkit-fill-available;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px !important;
    line-height: 1.5 !important;
    color:#11273c;
    background-color: #fff;
    margin: 10px !important;
    height: 100%;
    background-image: '../assets/img/bg15.jpg';
  }
}

$colors: ("blue_inv":#11273c);

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f0f8ff !important;
}


table .thead-light th {
  color: #ffffff !important;
  background-color: color("blue_inv") !important;
  border-color: #dee2e6 !important;

}


.table-responsive {
  height: 570px;
  overflow-y: scroll;

}



table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f0f8ff;
}

/* here is the trick */
table tbody:nth-of-type(1) tr:nth-of-type(1) td {
  border-top: none !important;
}

table thead th {
  border-top: none !important;
  border-bottom: none !important;
  box-shadow: inset 0 1px 0 #dee2e6,
    inset 0 -1px 0 #dee2e6;
  padding: 1px 0;
}

/* and one small fix for weird FF behavior, described in https://stackoverflow.com/questions/7517127/ */
table thead th {
  background-clip: padding-box
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
  color:#11273c
}

form {
  margin: 1%
}