@import "../../../node_modules/react-datepicker/dist/react-datepicker.css";


* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

.app {
  margin: 2rem;
}

a {
  color: #11273c
}

code {
  background: #eee;
  padding: .1rem;
  font-family: 'Menlo';
  font-size: 13px;
  color: #ff00aa;
}

input,
textarea {
  width: -webkit-fill-available;
  padding: .5rem;
  font-size: 16px;
  width: auto;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.text-input {
  width: -webkit-fill-available;
  padding: .5rem;
  font-size: 16px;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;

}

input:focus,
textarea:focus {
  width: -webkit-fill-available;
  border-color: #0c4465;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error,
textarea.error {
  width: -webkit-fill-available;
  border-color: red;
}

label {
  width: -webkit-fill-available;
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}

.input-feedback {
  width: -webkit-fill-available;
  color: red;
  margin-top: .25rem;
}

button {
  width: -webkit-fill-available;
  max-width: 150px;
  margin: 20px 10px;
  padding: 12px 20px;
  border-style: none;
  border-radius: 5px !important;
  background-color:#11273c;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px !important;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

button:disabled {
  width: -webkit-fill-available;
  opacity: .5;
  cursor: not-allowed !important;
}

button+button {
  width: -webkit-fill-available;
  margin-left: .5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}


.react-datepicker {
  width: fit-content;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  margin-top: 1px;


}

.react-datepicker-popper {
  z-index: 1;
  width: fit-content;
  margin-top: 1px;
}

.react-datepicker-popper[data-placement^="bottom"] {
  margin-top: 1px;
}

.react-datepicker__triangle {
  display: none;
}

$table-hover-color: #85c4ffd0