.navbar {
  width: auto !important;
  background: #11273c !important;
  opacity: 1 !important;
  margin: 0px !important;
  width: auto !important;
  font-size: 13px !important;
}

.dropdown-perfil {
  .nav-link {
    color: azure;
  }

}

.justify-content-end.navbar-collapse.collapse.show {
  .dropdown-perfil {
    .nav-link {
      color: azure;
    }

    .dropdown-menu {
      margin-left: 0px !important;
    }
  }

}

@import "~bootstrap/scss/bootstrap";