.wrap-fluid {
    float: right !important;
    width: 100% !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
    margin: 0 !important;
}

.paper-wrap {
    background-color: none repeat scroll 0 0 #ffffff;
    background-position: -1px 0;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, transparent 20px, color(green) 20px), linear-gradient(135deg, transparent 20px, color(green) 20px), linear-gradient(225deg, transparent 20px, color(green)-green 20px), linear-gradient(315deg, transparent 20px, color(green) 20px);
    background-position: bottom left, top left, top right, bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    padding: 20px;
    /*min-height: 1430px;*/
    min-height: 800px;
}

.paper-wrap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 42px 42px 0;
    border-style: solid;
    border-color: #ffffff rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    /*filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}

.bevel.tlbr {
    background: #f5f5f5;
    background: -moz-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -moz-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -moz-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -moz-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);
    background: -o-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -o-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -o-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -o-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);
    background: -webkit-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -webkit-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -webkit-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -webkit-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);
}

.bevel.all,
.bevel.trbl,
.bevel.tlbr,
.bevel.tr {
    background-position: bottom left, bottom right, top right, top left;
    -moz-background-size: 52% 52%;
    -webkit-background-size: 52% 52%;
    background-size: 52% 52%;
    background-repeat: no-repeat;
}

.content-wrap {
    padding: 0 30px;
}




.plan {
    min-height: 170px;
    float: left;
    width: 100%;
    margin: 4% !important;
    padding: 5% !important;
    text-align: center;
    background: white;
    background-clip: padding-box;
    border: 1px solid #e5ded6;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    align-items: center;

}

.plan-title {
    margin-bottom: 12px;
    color: #0c4465;
}

.plan-price {
    margin-bottom: 20px;
    line-height: 1;
    font-size: 40px;
    font-weight: bold;
    color: #37BCE5;
}

.plan-unit {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}

.plan-features {
    width: 80%;
    margin: 20px auto 15px;
    padding: 15px 0 0 15px;
    border-top: 1px solid #e5ded6;
    text-align: left;
}

.plan-feature {
    line-height: 20px;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
}

.plan-feature+.plan-feature {
    line-height: 20px;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
}

.plan-feature-unit {
    margin-left: 2px;
    font-size: 16px;
}

.plan-feature-name {
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}

.plan-button {
    max-width: none;
    padding: 0px;
    margin: 0px;
    position: relative;
    bottom: 0px;
    display: block;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: #0c4465;
    /**/
    border-bottom: 2px solid #cf7e3b;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: -webkit-fill-available;
}

.plan-button:active {
    top: 2px;
    margin-bottom: 2px;
    border-bottom: 0;
}

.plan-highlight {
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.plan-highlight .plan-button {
    font-size: 18px;
    line-height: 49px;
    background: #45B6B0;
    border-color: #3996b3;
    border-color: rgba(0, 0, 0, 0.15);
}

.plan-recommended {
    width: 100%;
    margin: -15px auto 15px;
    padding-bottom: 2px;
    line-height: 22px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.05);
    background: #45B6B0;
    border-radius: 0 0 4px 4px;
}

.plan-circle {
    background: #37BCE5;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 80px;
    color: #fff !important;
}

.plan-circle h3 {
    color: #fff;
    padding: 35px 0 0 0;
}

.plan-circle p {
    margin-bottom: 0;
    line-height: 1;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.plan-circle span {
    margin: 0;
}

.plan-circle-highlight {
    background: #45B6B0;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 80px;
    color: #fff !important;
}

.plan-circle-highlight h3 {
    color: #fff;
    padding: 35px 0 0 0;
}

.plan-circle-highlight p {
    margin-bottom: 0;
    line-height: 1;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.plan-circle-highlight span {
    margin: 0;
}


.nest-bg {
    margin-top: 40px;
}

.nest {
    background: none repeat scroll 0 0 #fff;
    clear: both;
    position: relative;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 2px #ccc;
}

.nest,
.middleNav,
.sItem,
.statsDetailed {}

.nest .title {
    height: 50px;
    background-color: #595F69;
    border-radius: 4px 4px 0 0;
}

.nest .title h6 {
    color: #F1F1F1;
    float: left;
    font-family: 'Open Sans Condensed', serif;
    font-size: 20px;
    font-weight: normal;
    padding: 0 12px;
    position: relative;
    text-transform: uppercase;
    top: 4px;
}

.slidder-bar-nest {
    padding: 15px;
    margin-bottom: 30px;
}

.nest .title .titleIcon {
    background: none repeat scroll 0 0 #323a45;
    border-radius: 3px 0 0 0;
    color: #fff;
    float: left;
    font-size: 18px;
    height: 30px;
    margin: 0;
    padding: 13px 12px 7px 18px;
    width: 21px;
}

.nest .title .titleToggle {
    border-radius: 3px 0 0;
    float: right;
    font-size: 24px;
    margin: 14px 5px 0 0;
}

.nest .title .titleClose {
    border-radius: 3px 0 0;
    float: right;
    font-size: 24px;
    margin: 14px 12px 0 0;
}

.body-nest {
    padding: 15px;
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 0 0 4px 4px;
}

.nest .title-alt {
    border-radius: 4px 4px 0 0;
    height: 50px;
    margin: 30px auto 0;
    border-bottom: 1px dotted #DDDDDD;
}

.nest .title-alt h6 {
    color: #9EA7B3;
    float: left;
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: normal;
    left: 15px;
    padding: 0 5px 2px;
    position: relative;
    text-transform: uppercase;
    top: 6px;
}

.nest .title-alt .titleIcon {
    background: none repeat scroll 0 0 #323a45;
    border-radius: 3px 0 0 0;
    color: #9EA7B3;
    float: left;
    font-size: 18px;
    height: 30px;
    margin: 0;
    padding: 13px 12px 7px 18px;
    width: 21px;
}

.nest .title-alt .titleToggle {
    border-radius: 3px 0 0;
    float: right;
    margin: 14px 10px 0 0;
}

.nest .title-alt .titleToggle .nav-toggle-alt {
    color: #DDDDDD;
    font-size: 16px;
    position: relative;
}

.nest .title-alt .titleToggle .nav-toggle-alt:hover {
    color: #3498DB;
}

.nest .title-alt .titleClose {
    border-radius: 3px 0 0;
    float: right;
    margin: 14px 15px 0 0;
}

.nest .title-alt .titleClose .gone {
    color: #DDDDDD;
    font-size: 16px;
    position: relative;
}

.nest .title-alt .titleClose .gone:hover {
    color: #FF0064;
}

.nest .title-alt .titleFull {
    border-radius: 3px 0 0;
    float: right;
    font-size: 24px;
    margin: 14px 12px 0 0;
    display: none;
}

.nest .title-alt .titleFull .fullexe {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #DDDDDD;
    font-size: 19px;
    padding: 0;
    position: relative;
    right: -5px;
    top: 0;
}

.nest .title-alt .titleFull .fullexe:hover {
    color: #6ADAE4;
}


.armada>span {
    background: none repeat scroll 0 0 #ddd;
    border-radius: 0 10px 10px 0;
    color: #FFFFFF;
    left: -5px;
    padding: 1px 10px;
    position: relative;
    text-transform: uppercase;
    top: -5px;
}

.armada>p {
    font-weight: bold;
}

.armada i {
    font-size: 11px;
    font-weight: normal;
    text-transform: lowercase;
}

.armada-devider {
    border-right: 1px dashed #DDDDDD;
    width: 23%;
    padding-top: 20px !important;
}

.driver-devider {
    width: 40%;
    padding-top: 15px !important;
}

.driver-devider>h3 {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.driver-devider>p {
    float: left;
    left: -20px;
    margin: 0 0 0 20px;
    position: relative;
}

.armada-pic {
    border: 4px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    float: left;
    margin-right: 19px;
    margin-top: -5px;
    width: 52px;
}